*.log
*.sqlite3
*.pyo
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
ENV.bak/
*.egg-info/
*.egg
*.eggs
*.db
.git/
htmlcov/
.coverage
.tox/
.DS_Store
.idea/
.vscode/
Dockerfile
docker-compose.yml
secrets/
.env
db_backups/
services_data/
static/
media/
node_modules//geo/data/admin1CodesASCII.txt
/geo/data/admin2Codes.txt
/geo/data/allCountries.zip
/geo/data/alternateNames.zip
/geo/data/cities5000.zip
/geo/data/countryInfo.txt
/geo/data/hierarchy.zip