* @@owner

README.md @fureunoir contact@fureunoir.com

LICENSE @fureunoir contact@fureunoir.com

Dockerfile.app @fureunoir contact@fureunoir.com
Dockerfile.storefront @SaVBaD savbad@wiseless.xyz
docker-compose.yml @@maintainer
.gitignore @@maintainer
.dockerignore @@maintainer
nginx @@maintainer
pyproject.toml @fureunoir contact@fureunoir.com
poetry.lock @fureunoir contact@fureunoir.com

/blog/ @fureunoir contact@fureunoir.com
/core/ @fureunoir contact@fureunoir.com
/evibes/ @fureunoir contact@fureunoir.com
/payments/ @fureunoir contact@fureunoir.com
/scripts/ @fureunoir contact@fureunoir.com
/vibes_auth/ @fureunoir contact@fureunoir.com
/storefront/ @SaVBaD savbad@wiseless.xyz

*.py @fureunoir contact@fureunoir.com
*.bat @fureunoir contact@fureunoir.com
*.sh @fureunoir contact@fureunoir.com
*.po @fureunoir contact@fureunoir.com
*.mo @fureunoir contact@fureunoir.com
*.html @SaVBaD savbad@wiseless.xyz
*.js @SaVBaD savbad@wiseless.xyz
*.vue @SaVBaD savbad@wiseless.xyz
*.scss @SaVBaD savbad@wiseless.xyz
